{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block main %}
    <div class="profil">
        <h1>Authentifier vous !</h1>
        <div class="generalprofil">
        <form method="post">
            {% block nav %}{% endblock %}
            {% if error %}
                <div>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {#
            {% if app.user %}
                <div>
                    Tu es connecté, {{ app.user.username }}, <a href="{{ path('app_logout') }}">te déconnecter</a>
                </div>
            {% endif %}
            #}
            <div class="form-group">
            <label for="username" class="labelprofil">Pseudo ou email : </label>
            <input type="text" value="{{ last_username }}" name="_username" id="username" class="dataform form-control" required autofocus>
            </div>
            <div class="form-group">
            <label for="password" class="labelprofil">Mot de passe : </label>
            <input type="password" name="_password" id="password" class="dataform form-control" required>
            </div>
            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            #}
            <div class="lienprofil">
                <button type="submit" class="btn_connexion">Connexion</button>
                <label id="remember_me">
                    <input type="checkbox" name="_remember_me" checked> Se souvenir de moi
                </label>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        </form>
    </div>
    </div>
{% endblock %}

