{% extends 'base.html.twig' %}

{% block title %}Registration!{% endblock %}

{% block main %}
    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    <button type="submit">S'enregistrer</button>
    {{ form_end(registerForm) }}
{% endblock %}
