* {
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #edf0f1;
}



/*menu navigation*/

header {
    height: 160px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*padding: 30px 10%;*/
    background-color: #010101;
    box-shadow: inset 0px -52px 64px -78px rgba(250,251,255,0.77);

}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    background-color: #010101;
}

.lien {
    padding-right: 15px;
    background-color: #010101;
}

.logo{
    margin-right: auto;
    margin-left: 5%;
}

.logo a{
    text-decoration: none;
}

.logo a img{
    height: 160px;
}

/*css pour le formulaire de login*/
.login {
    display: flex;
    justify-content: center;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
}

.nav_liens {
    list-style: none;
    background-color: #010101;
}

.nav_liens li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_liens li a {
    transition: all 0.3s ease 0s;
    background-color: #010101;
}

.nav_liens li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: auto;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.retour {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    color: #edf0f1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.retour:hover {
    color: #edf0f1;
}


/*Main*/

main {
    padding-top: 4%;
    padding-bottom: 4%;
    height: 90%;
    background: linear-gradient(#0088a9, #24252A);
}

main h1 {
    margin-bottom: 5%;
}

a.retour{
    text-decoration: none;
    margin: auto;
}

a.retour:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

#remember_me{
    margin: auto auto auto 2%;
}

.btn_connexion{
    margin-left: auto;
    margin-right: 0;
}


/*menu recherche page d'accueil*/
.checkbox{
    display: flex;
    justify-content: center;
}

a.lien_generique{
    text-decoration: none;
}

a.lien_generique:hover{
    color: #0088a9;
    text-decoration: underline;
}

.col-md-2{
    left: 400px;
}
#campus select option{
    color: #1b1e21;


}

#campus{
    padding-right: 70px;
}
#filtre1{
    top: 20px;
}
#filtre2{
    top: 20px;
    left: 300px;
}
/*table*/
table, th, td {
    border: 2px solid rgba(0, 136, 169, 0.8);
}
th, td {
    width: 300px;
    text-align: center;
    padding: 10px;
}

.profil_tableau {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 20% 0% 20%;
}

.profil_tableau h1{
    text-align: center;
}

.profil_tableau h4{
    text-align: center;
}

.profil_tableau form{
    width: 100%;
}

.tableau {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 3%;
}

.tableau table{
    width: 100%;
}

/*affichage Profil (affichage, modification profil et mot de passe)*/
.profil {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 2% 30% 0% 30%;
}

.generalprofil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profil h1{
    text-align: center;
    margin-top: 5%;
}

.labelprofil{
    display: flex;
    flex-direction: column;
}

.dataprofil{
    display: flex;
    flex-direction: column;
}

.lienprofil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 8%;
}

.lienprofil a{
    margin: auto;
}

form{
    width: 50%;
}

#profil_motdepasse{
    border-color: #8959A8;
    border-width: thick;
}

/*Afficher détail sortie*/

.afficher{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*margin: 0% 25%;*/
}

.afficherL{
    width: 25%;
}

.afficherR{
    width: 25%;
}

.titre{
    text-align: center;
}

.message{
    text-align: center;
}

/*Messages flashes*/

.alert-success{
    text-align: center;
}

.alert-warning{
    text-align: center;
}

/* pour les div récalcitrants de la création de la sortie */
.padding{
    padding: 0px 15px;
}

/* pour les trois div contenant les trois boutons du formulaire de création */
.center{
    text-align: center;
}

/*div pour afficher une sortie*/

.sortie{
    height: 100%;
}

.sortie div{
    margin-top: 8%;
    justify-content: space-around;
}

/*Affichage filtre*/
.superDiv{
    display: flex;
    width: 100%;
    margin:initial;
    padding-left: 30px;
}
.div1{
width: 50%;
}
.divMaster{
    width: 100%;
}
.darkclass{
    color: #1d2124;
}

.titre1{
    text-align: center;
}

/*footer*/

footer{
    background-color:  #010101;
}
