{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <div>

        <p>
        <h1>Récapitulatif de votre sortie</h1>

        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/place</th>
                <th>Etat</th>
                <th>Descriptif</th>
                <th>Organisteur</th>
            </tr>
            </thead>
            <tbody>

            <tr>
            <td>{{ sortieChoisie.nom }}</td>
            <td>{{ sortieChoisie.dateHeureDebut | date("d/m/Y  H:i")}}</td>
            <td>{{ sortieChoisie.dateLimiteInscription | date("d/m/Y")}}</td>
            <td>{{ sortieChoisie.nbInscriptionsMax }}</td>
            <td>{{ sortieChoisie.etat.libelle }}</td>
            <td>{{ sortieChoisie.infosSortie }}</td>
            <td>{{ sortieChoisie.organisateur }}</td>
            </tr>

            </tbody>
        </table>

        </p>
        <h2>Liste des participants inscrits :</h2>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for inscits in sortieChoisie.inscriptions %}
                        {% endfor %}
                        <td>{{ sortieChoisie.id }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            <a href="{{ path('sortie_home') }}" class="btn btn-primary btn-sm">Retour à l'accueil</a>
        </p>
    </div>
{% endblock %}

