{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <div class="profil_tableau">
        <h4>Souhaitez vous vous désinscrire?</h4>
        <div>
        <h1>Récapitulatif de votre sortie</h1>
            <table>
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>inscrits/place</th>
                        <th>Etat</th>
                        <th>Organisteur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ sortieChoisie.nom }}</td>
                        <td>{{ sortieChoisie.dateHeureDebut | date("d/m/Y  H:i")}}</td>
                        <td>{{ sortieChoisie.dateLimiteInscription | date("d/m/Y")}}</td>
                        <td>{{ sortieChoisie.inscriptions|length }} / {{ sortieChoisie.nbInscriptionsMax }}</td>
                        <td>{{ sortieChoisie.etat.libelle }}</td>
                        <td>{{ sortieChoisie.organisateur }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tableau">
            <h4>Liste des participants inscrits :</h4>
            <div class="profil_tableau">
                <table>
                    <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    {% for part in sortieChoisie.inscriptions %}
                        <tbody>
                        <tr>
                            <td>{{ part.participant.pseudo }}</td>
                            <td>{{ part.participant.nom }}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="lienprofil">
            <a href="{{ path('desisterSortie',{'id': sortieChoisie.id }) }}" class="retour">Confirmer</a>
            <a href="{{ path('sortie_home') }}" class="retour">Annuler</a>
        </div>
    </div>
{% endblock %}

