{% extends 'base.html.twig' %}

{% block title %}
    profil participant
{% endblock %}

{% block main %}
    <div class="profil">
        <h1>{{ autreProfil.pseudo }}</h1>
        <div class="generalprofil">
            <div class="labelprofil">
                <p>Prénom :</p>
                <p>Nom :</p>
                <p>Téléphone :</p>
                <p>Mail :</p>
                <p>Campus :</p>
            </div>
            <div class="dataprofil">
                <p>{{ autreProfil.prenom }}</p>
                <p>{{ autreProfil.nom }}</p>
                <p>{{ autreProfil.telephone }}</p>
                <p>{{ autreProfil.mail }}</p>
                <p>{{ autreProfil.site.nom }}</p>
            </div>
        </div>

        <div class="lienprofil">
            <a href="{{ path('sortie_home') }}" class="retour">Retour</a>
        </div>
    </div>

{% endblock %}

