{% extends 'base.html.twig' %}

{% block title %}
Profil
{% endblock %}

{% block main %}
    <div class="profil">
        {% for message in app.flashes('success') %}<div class="alert alert-success">{{ message }}</div>{% endfor %}
        <h1>{{ app.user.pseudo }}</h1>
        <div class="generalprofil">
            <div class="labelprofil">
                <p>Prénom :</p>
                <p>Nom :</p>
                <p>Téléphone :</p>
                <p>Mail :</p>
                <p>Campus :</p>
            </div>
            <div class="dataprofil">
            <p>{{ app.user.prenom }}</p>
            <p>{{ app.user.nom }}</p>
            <p>{{ app.user.telephone }}</p>
            <p>{{ app.user.mail }}</p>
            <p>{{ app.user.site.getNom() }}</p>
            </div>
        </div>
        <div class="lienprofil">
            <a href="{{ path('sortie_home') }}" class="retour">Retour</a>
            <a href="{{ path('profil_update') }}">
                <button>Modifier Profil</button>
            </a>
            <a href="{{ path('password_update') }}">
                <button>Modifier mot de passe</button>
            </a>
        </div>
    </div>
{% endblock %}

