{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <div class="profil">
        {% for message in app.flashes('warning') %}<div class="alert alert-warning">{{ message }}</div>{% endfor %}
        <h1>Modification du mot de passe</h1>
        <div class="generalprofil">
            {{ form_start(updatePassForm, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(updatePassForm) }}
            <div class="lienprofil">
                <button type="submit">Modifier</button>
                <a href="{{ path('profil') }}" class="retour">Retour</a>
                {{ form_end(updatePassForm) }}
            </div>
        </div>
    </div>
{% endblock %}

