{% extends 'base.html.twig' %}

{% block title %}
    Modification Profil
{% endblock %}

{% block main %}
    <div class="profil">
        {% for message in app.flashes('warning') %}<div class="alert alert-warning">{{ message }}</div>{% endfor %}
        <h1>Modification de votre Profil</h1>
        <div class="generalprofil">
            {{ form_start(profilForm, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(profilForm) }}
            <div class="lienprofil">
                <button type="submit">Modifier</button>
                <a class="retour" href="{{ path('profil') }}">Retour</a>
                {{ form_end(profilForm) }}
            </div>
        </div>
    </div>
{% endblock %}