{% extends 'base.html.twig' %}

{% block title %}
    Créer une sortie
{% endblock %}

{% block main %}
    <div class="profil_tableau" id="campus">
        <h1>Créer votre Sortie !</h1>
        {{ form_start(creationSortieForm) }}
        <div class="row">
            <div class="col-6">
                {{ form_row(creationSortieForm.nom) }}
            </div>
            <div class="col-6">
                {{ form_row(creationSortieForm.site) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(creationSortieForm.dateHeureDebut) }}
            </div>
            <div class="col-6">
                {{ form_row(creationSortieForm.ville) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(creationSortieForm.dateLimiteInscription) }}
            </div>
            <div class="col-6">
                {{ form_row(creationSortieForm.lieu) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(creationSortieForm.nbInscriptionsMax) }}
            </div>
            <div class="col-6">
                {{ form_row(creationSortieForm.lieuForm.rue) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(creationSortieForm.duree) }}
            </div>
            <div class="col-6">
                {{ form_row(creationSortieForm.lieuForm.ville.codePostal) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row(creationSortieForm.infosSortie) }}
            </div>
            <div class="col-6">
                <div class="row padding">
                    {{ form_row(creationSortieForm.lieuForm.latitude) }}
                </div>
                <div class="row padding">
                    {{ form_row(creationSortieForm.lieuForm.longitude) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-4 center">
                {{ form_row(creationSortieForm.enregistrer) }}
            </div>
            <div class="col-4 center">
                {{ form_row(creationSortieForm.publier) }}
            </div>
            <div class="col-4 center">
                <a href="#">
                <a href="{{ path('sortie_home') }}" class="retour">Annuler</a>
                </a>
            </div>
    </div>

    {{ form_end(creationSortieForm) }}

    {% if errors | length > 0 %}
        {% for error in errors %}
            <p>{{ error.message }}</p>
        {% endfor %}
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/javascript.js') }}"></script>

{% endblock %}

