{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block main %}
    <div class="titre1">
    <h1>Filtrer les sorties</h1>
    </div>
    <div class="profil_tableau">
        {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

        {% for message in app.flashes('success') %}<div class="alert alert-success">{{ message }}</div>{% endfor %}
            {% include 'sortie/_filter.html.twig' with {form:form} only %}
       {# afficher les sorties recuperer en bdd#}
    </div>
    <div class="profil_tableau">
        <h1>Liste des sorties</h1>
        <div class="tableau">
        <table>
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/place</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisteur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | date("d/m/Y  H:i")}}</td>
                        <td>{{ sortie.dateLimiteInscription | date("d/m/Y")}}</td>
                        <td>{{ sortie.inscriptions | length }} / {{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% if  sortie.inscritSortie(app.user.id) %}
                                     x
                            {% endif %}
                        </td>
                        <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</td>
                        <td>
                                            {# etat en creation  #}
                            {# si organisateur #}
                            {% if sortie.organisateur.id == app.user.id and sortie.etat.libelle == "Créée" %}
                                <a href="#" class="lien_generique">Modifier</a><br>
                                <a href="#" class="lien_generique">Publier</a><br>
                            {% endif %}
                            {# si non organisateur de la sorite#}
                            {% if sortie.organisateur.id != app.user.id and sortie.etat.libelle == "Créée"%}
                                <p>sortie non publiée</p>
                            {%  endif %}

                                            {# etat publiée  #}
                            {% if sortie.etat.libelle == "Publiée" %}
                                <a href="{{ path ('sortie_afficher',{ 'id': sortie.id }) }}" class="lien_generique">Afficher</a><br>
                            {% endif %}
                            {# si organisateur #}
                            {% if  sortie.etat.libelle == "Publiée" and sortie.organisateur.id == app.user.id%}
                                <a href="{{ path('sortie_detailAnnuler', {'id' : sortie.id}) }}" class="lien_generique">Annuler</a><br>
                            {% endif %}
                            {# si inscrit a la sortie #}
                            {% if  sortie.etat.libelle == "Publiée" and sortie.inscritSortie(app.user.id) == true %}
                                <a href="{{ path('detailDesisterSortie',{ 'id': sortie.id }) }}" class="lien_generique">Se désister</a><br>
                            {% endif %}
                            {# si non inscrit a la sortie #}
                            {% if sortie.etat.libelle == "Publiée" and sortie.inscritSortie(app.user.id) == false %}
                                <a href="{{ path('detailInscriptionSortie',{ 'id': sortie.id }) }}" class="lien_generique">M'inscrire</a><br>
                            {% endif %}

                                            {# etat cloturée  #}
                            {% if  sortie.etat.libelle == "Cloturée" %}
                                <a href="{{ path ('sortie_afficher',{ 'id': sortie.id })}}" class="lien_generique">Afficher</a><br>
                                <p>Inscription terminée</p>
                            {% endif %}
                                            {# etat en cours#}
                            {% if  sortie.etat.libelle == "En cours" %}
                                <a href="{{ path ('sortie_afficher',{ 'id': sortie.id })}}" class="lien_generique">Afficher</a><br>
                                <p>Sortie en cours</p>
                            {% endif %}

                                            {# etat passée#}
                            {% if  sortie.etat.libelle == "Passée" %}
                                <a href="{{ path ('sortie_afficher',{ 'id': sortie.id })}}" class="lien_generique">Afficher</a><br>
                                <p>Sortie terminée</p>
                            {% endif %}

                                            {# etat annulée #}
                            {% if  sortie.etat.libelle == "Annulée"%}
                                <a href="{{ path ('sortie_afficher',{ 'id': sortie.id })}}" class="lien_generique">Afficher</a><br>
                                <p>Sortie Annulée</p>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
        {% endif %}

{% endblock %}

