{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <div class="container">


        <div class="row">
            <div class="col-md-3">
                {% include 'sortie/_filter.html.twig' with {form:form} only %}
            </div>
            <div class="col-md-9">
                <div class="grid">
                    {% for sortie in sorties %}
                        {% include 'sortie/_card.html.twig' with {sortie:sortie} only %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

