{% extends 'base.html.twig' %}

{% block title %}détails de la sortie{% endblock %}

{% block main %}
    <div class="message">
    {% if sortieChoisie.motifAnnulationSortie != null %}
        <h3>La sortie est annulée !!</h3>
        <p>Motif d'annulation : {{ sortieChoisie.motifAnnulationSortie }}</p>
    {% endif %}

    <h1>Détails de la sortie</h1>
    </div>
    <div class="afficher">
        <div class="afficherL">
            <div>Nom de la sortie : {{ sortieChoisie.nom }}</div><br>
            <div>Date et heure de la sortie : {{ sortieChoisie.dateHeureDebut  | date("d/m/Y  H:i") }}</div><br>
            <div>Date limite d'inscription : {{ sortieChoisie.dateLimiteInscription  | date("d/m/Y")}}</div><br>
            <div>Nombre de place : {{ sortieChoisie.inscriptions | length }} / {{ sortieChoisie.nbInscriptionsMax }}</div><br>
            <div>Durée : {{ sortieChoisie.duree | date("H:i")}}</div><br>
            <div>Description et infos : {{ sortieChoisie.infosSortie }}</div><br>
        </div>
        <div class="afficherR">
            <div>Campus : {{ sortieChoisie.site.nom }}</div><br>
            <div>Lieu : {{ sortieChoisie.lieu.ville.nom }}</div><br>
            <div>Rue : {{ sortieChoisie.lieu.rue }}</div><br>
            <div>Code postal : {{ sortieChoisie.lieu.ville.codePostal }}</div><br>
            <div>Latitude : {{ sortieChoisie.lieu.latitude }}</div><br>
            <div>Longitude : {{ sortieChoisie.lieu.longitude }}</div><br>
        </div>
    </div>

    <div class="tableau">
        <div class="profil_tableau">
            <table>
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                {% for part in sortieChoisie.inscriptions %}
                <tbody>
                <tr>
                    <td><a href="{{ path('participant_autreProfil', {'id' : part.participant.id}) }}"> {{ part.participant.pseudo }}</a></td>
                    <td>{{ part.participant.nom }}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="lienprofil">
        <a href="{{ path('sortie_home') }}" class="retour">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}

