{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <div class="profil_tableau">
        <div>
        <h1>Récapitulatif de votre sortie</h1>
        <table>
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/place</th>
                    <th>Etat</th>
                    <th>Descriptif</th>
                    <th>Organisteur</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sortieChoisie.nom }}</td>
                    <td>{{ sortieChoisie.dateHeureDebut | date("d/m/Y  H:i")}}</td>
                    <td>{{ sortieChoisie.dateLimiteInscription | date("d/m/Y")}}</td>
                    <td>{{ sortieChoisie.inscriptions|length }} / {{ sortieChoisie.nbInscriptionsMax }}</td>
                    <td>{{ sortieChoisie.etat.libelle }}</td>
                    <td>{{ sortieChoisie.infosSortie }}</td>
                    <td>{{ sortieChoisie.organisateur }}</td>
                </tr>
            </tbody>
        </table>
        </div>
        <div>
            {{ form_start(motifAnnulation, {'attr' : {'id':'form_annuler'}}) }}
            {{ form_widget(motifAnnulation) }}
            {{ form_end(motifAnnulation) }}
        </div>
        <div class="lienprofil">
            <button form="form_annuler" class="retour">Confirmer l'annulation</button>
            <a href="{{ path('sortie_afficher', {'id' : sortieChoisie.id}) }}" class="retour">Détails de la sortie</a>
            <a href="{{ path('sortie_home') }}" class="retour">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
