<div class="card">
    <img src="#" alt=""class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ sortie.nom }}</h5>
    </div>
    <div class="card-title">{{ sortie.dateHeureDebut|date }}
    </div>
    <p class="text text-muted">{{ sortie.infosSortie }}</p>
    {% for sites in sortie.site %}
        <em class="text-muted text-primary text-italic">#{{ sites.nom }}</em>
    {% endfor %}
</div>