

{{ form_start(form,{attr: {class:'filter'}}) }}

    <div class="form-row" >

        <div class="col-md-6" id="campus">
            {{ form_row(form.sites) }}
            {{ form_row(form.saisie) }}

        </div>

        <div class="col-md-6" id="filtre1">
            {{ form_row(form.organisateur) }}
            {{ form_row(form.inscrit) }}
            {{ form_row(form.nonInscrit) }}
            {{ form_row(form.sortiesPassees) }}
        </div>


    </div>

    <div class="div1">
        <div class="form-row">
            <div class="div1 col-md-5">
                {{ form_row(form.dateEntree) }}
            </div>
            <div class="div1 col-md-5">
                {{ form_row(form.dateFin) }}
            </div>
            <div class="col-md-2" id="filtre2">
                <button type="submit" >Recherche</button>
            </div>
        </div>
    </div>


{{ form_end(form) }}
















