<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {#
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    #}
    <script type="text/javascript" src="{{ asset('js/jquery-3.5.1.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>

    {% block stylesheets %}{% endblock %}
    <style>
        .grid  {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 20px;
        }
    </style>
</head>
<body>
<header>
    <div class="logo">
        <a class="" href="{{ path('sortie_home') }}">
            <img src="{{ asset('images/logo_1_200x200.png') }}" alt="Logo sortir.com">
            <img src="{{ asset('images/logo_2_200x200.png') }}" alt="sortir.com">
        </a>
    </div>
    <nav>
        <ul class="nav_liens">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="lien"><a href="#">Villes </a></li>
                <li class="lien"><a href="#">Campus </a></li>
                <li class="lien"><a href="{{ path('sortie_home') }}">Accueil </a></li>
                <li class="lien"><a href="{{ path('profil') }}">Mon profil </a></li>
                <li class="lien"><a href="{{ path('creerSortie') }}">Créer une sortie </a></li>
                <li class="lien"><a href="{{ path('app_logout') }}">Se deconnecter </a></li>
            {% else %}
                <li class="lien"><a href="{{ path('app_login') }}">Se connecter </a></li>
                <li class="lien"><a href="#">
                        <button>S'enregistrer</button>
                    </a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% for message in app.flashes('success') %}<div class="alert alert-success">{{ message }}</div>{% endfor %}
    {% for message in app.flashes('warning') %}<div class="alert alert-warning">{{ message }}</div>{% endfor %}
    {% block main %}{% endblock %}
</main>
<footer>
    {% block footer %}{% endblock %}
</footer>
</body>
</html>
